*.html linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=true
*.ps1 linguist-detectable=true
*.bat linguist-detectable=true
*.json linguist-vendored
*.lock linguist-vendored

